# only for host-local installation
venv
local.mk
# not needed:
# .git
# .gitmodules
# not needed in Ubuntu:
opencv-python
# only needed for testing:
**/assets/*
# avoid interference with host-local builds:
**/build/*
*/.eggs/*
*/*.egg-info
