# prevent invalidating the build cache
Dockerfile
# only for host-local installation
venv
local.mk
ocrd-all-tool.json
ocrd-all-module-dir.json
# not needed:
# .git
# .gitmodules
# not needed in Ubuntu:
opencv-python
# only needed for testing:
# (but we may want that, only 169 MB)
**/assets/*
# recursive submodules, too deep
ocrd_tesserocr/repo/tesseract/test/*
ocrd_tesserocr/repo/tesseract/unittest/third_party/googletest/*
ocrd_tesserocr/build_tesseract
# avoid interference with host-local builds:
**/build/*
*/.eggs/*
*/*.egg-info
