[submodule "clstm"]
	path = clstm
	url = https://github.com/tmbdev/clstm.git
[submodule "ocrd_keraslm"]
	path = ocrd_keraslm
	url = https://github.com/OCR-D/ocrd_keraslm.git
[submodule "core"]
	path = core
	url = https://github.com/OCR-D/core.git
[submodule "ocrd_calamari"]
	path = ocrd_calamari
	url = https://github.com/OCR-D/ocrd_calamari.git
[submodule "ocrd_kraken"]
	path = ocrd_kraken
	url = https://github.com/OCR-D/ocrd_kraken.git
[submodule "ocrd_ocropy"]
	path = ocrd_ocropy
	url = https://github.com/OCR-D/ocrd_ocropy.git
[submodule "ocrd_olena"]
	path = ocrd_olena
	url = https://github.com/OCR-D/ocrd_olena.git
[submodule "ocrd_segment"]
	path = ocrd_segment
	url = https://github.com/OCR-D/ocrd_segment.git
[submodule "ocrd_tesserocr"]
	path = ocrd_tesserocr
	url = https://github.com/OCR-D/ocrd_tesserocr.git
[submodule "tesserocr"]
	path = tesserocr
	url = https://github.com/sirfz/tesserocr.git
[submodule "dinglehopper"]
	path = dinglehopper
	url = https://github.com/qurator-spk/dinglehopper.git
[submodule "cor-asv-ann"]
	path = cor-asv-ann
	url = https://github.com/ASVLeipzig/cor-asv-ann.git
[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
[submodule "format-converters"]
	path = format-converters
	url = https://github.com/OCR-D/format-converters.git
[submodule "ocrd_cis"]
	path = ocrd_cis
	url = https://github.com/cisocrgroup/ocrd_cis.git
[submodule "cor-asv-fst"]
	path = cor-asv-fst
	url = https://github.com/ASVLeipzig/cor-asv-fst.git
[submodule "ocrd_im6convert"]
	path = ocrd_im6convert
	url = https://github.com/OCR-D/ocrd_im6convert.git
[submodule "ocrd_anybaseocr"]
	path = ocrd_anybaseocr
	url = https://github.com/OCR-D/ocrd_anybaseocr.git
[submodule "ocrd_pc_segmentation"]
	path = ocrd_pc_segmentation
	url = https://github.com/ocr-d-modul-2-segmentierung/ocrd-pixelclassifier-segmentation.git
[submodule "ocrd_typegroups_classifier"]
	path = ocrd_typegroups_classifier
	url = https://github.com/OCR-D/ocrd_typegroups_classifier.git
[submodule "opencv-python"]
	path = opencv-python
	url = https://github.com/skvark/opencv-python.git
[submodule "workflow-configuration"]
	path = workflow-configuration
	url = https://github.com/bertsky/workflow-configuration.git
[submodule "sbb_textline_detector"]
	path = sbb_textline_detector
	url = https://github.com/qurator-spk/sbb_textline_detector.git
[submodule "ocrd_repair_inconsistencies"]
	path = ocrd_repair_inconsistencies
	url = https://github.com/qurator-spk/ocrd_repair_inconsistencies.git
[submodule "ocrd_fileformat"]
	path = ocrd_fileformat
	url = https://github.com/OCR-D/ocrd_fileformat.git
[submodule "ocrd_pagetopdf"]
	path = ocrd_pagetopdf
	url = https://github.com/UB-Mannheim/ocrd_pagetopdf.git
[submodule "ocrd_wrap"]
	path = ocrd_wrap
	url = https://github.com/bertsky/ocrd_wrap.git
[submodule "ocrd_olahd_client"]
	path = ocrd_olahd_client
	url = https://github.com/OCR-D/ocrd_olahd_client.git
